.pagination__button {
  height: 4rem;
  width: fit-content;
  border: none;
  background-color: var(--color-grey-2);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--color-black);
  cursor: pointer;
  transition: all 0.2s;
}

.pagination__button:hover {
  background-color: var(--color-grey-3);
  color: var(--color-white);
}

.pagination__button:disabled {
  background-color: var(--color-grey-1);
  color: var(--color-grey-3);
  cursor: not-allowed;
}
