@import "./styles-utils/typography.css";
@import "./styles-utils/variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
  color: var(--color-black);
}

body,
input,
button,
textarea,
select {
  font: inherit;
}
