.color__filter {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.8rem 1rem;
  min-width: fit-content;
  cursor: pointer;
  transition: all 0.1s;
}

.color__filter__color {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  border: 1px solid var(--color-grey-3);
}

.color__label {
  font-size: 1.6rem;
  font-weight: 400;
  color: #7e81a2;
  cursor: pointer;
}

.color__filter:hover {
  background-color: var(--color-grey-1) !important;
}
